.liste-sejours {
    background-color: $beige;


    .header-top {

        background-color: $beige;

        h1{
            background: rgba(0, 0, 0, 0.31);
            border-radius: 20px;
        }
    }


    main {
        display: flex;
        flex-wrap: wrap;

        aside {

            display: block;
            flex-basis: 100%;
            padding: 15px;

            @media (min-width: $bp-large) {
                flex-basis: 25%
            }

            .criteres,
            form,
            button {
                background: white;
            }

            h4 {
                margin: 0;
                padding: 10px 0;
                text-align: center;
            }
        }

        section {

            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;

            @media (min-width: $bp-large) {
                flex-basis: 75%
            }


            .difficulte {
                text-align: center;
                margin: 10px auto 20px;
            }


            .fiche-sejour {
                flex-basis: 96%;
                margin: 2%;

                background: white;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

                @media (min-width: $bp-medium) {
                    flex-basis: 46%
                }

                h2 {
                    font-size: 1.25rem;
                    color: $dark-green;
                    letter-spacing: 0;
                    margin: 10px 0;
                }

                h3 {
                    text-transform: lowercase;
                    font-family: $default-font;
                    margin: 0;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $brown;

                    i{
                        color: #DBBC94;
                    }
                }

                .infos-sejour{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0;
                }

                .duree, .difficulte, .prix {
                    flex-basis: 33%;
                    text-align: center;
                }


            }
        }
    }
}

.difficulte::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: .25em;
    background: url(../images/difficulte.png) no-repeat;
}

.difficulte-facile::after {
    background-position: left top;
}

.difficulte-moyen::after {
    background-position: left center;
}

.difficulte-difficile::after {
    background-position: left bottom;
}
