.page-sejour {

  .header-top {
    min-height: 80px;
    background-image: none;
  }

  h1 {
    animation-name: none;
  }

  h2 {
    text-align: center;
  }

  main {
    padding: 0;
  }


  .infos-cle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    min-width: 220px;
    color: white;
    background-color: #542D25;
  }

  .infos-cle p {
    text-align: center;
    width: 100px;
  }

  p.duree {
    font-size: 1.7rem;
  }

  p.duree::before {
    content: url(../images/picto-duree.png);
    height: 34px;
    width: 29px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }

  p.prix span {
    font-size: 1.7rem;
    display: block;
  }

  p.prix::before {
    content: url(../images/picto-prix.png);
    height: 34px;
    width: 33px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }

  p.transport {
    font-size: 1.2rem;
  }

  p.transport::before {
    content: url(../images/picto-avion.png);
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }


  .infobulle {
    position: relative;
    cursor: help;
  }

  .infobulle:hover::after,
  .infobulle:focus::after {
    content: attr(aria-label);
    position: absolute;
    z-index: 1;
    min-width: 200px;
    left: 100%;
    bottom: 100%;
    padding: 10px;
    font-size: .7em;
    background-color: white;
    border: #542D25 solid 1px;
  }


  /*=====================================================================
  ================================================================
                          PAGES SEJOURS
  =====================================================================
  ================================================================
  */


  iframe {
    display: block;
  }

  /* ----------- SECTION RESUME ---------------- */

  .resume {
    background: #FEFCF8;
    padding: 70px 0;
  }

  .resume h3 {
    font-size: 1.2rem;
    text-transform: none;
    margin-top: 0;
  }

  article.resume-yucatan {
    display: flex;
    padding: 70px 0;
  }

  .resume .description {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    p {
      text-align: justify;
      padding: 10px;
    }
  }

  .description .points-forts {
    margin: 20px 10px;
    background: #EEE6DF;
    border-radius: 20px;
    padding: 20px;
  }

  .description .points-forts ul {
    padding: 0 15px;
  }


  .resume .infos-resume {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .resume .description p {
    margin: 0;
  }

  .infos-resume > img {
    border: #542D25 solid 2px;
  }

  .infos-resume ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0;
  }

  .infos-resume li {
    flex-basis: 33.33%;
    text-align: center;
    padding: 10px 0;
  }

  .info-prix strong,
  .info-duree {
    font-size: 1.5rem;
  }

  .info-prix strong,
  .info-niveau > span {
    display: block;
  }


  /* ----------- SECTION ITINERAIRE ---------------- */

  section.itineraire {
    background: url("../images/bg-itineraire.jpg");
    background-size: cover;
    padding: 70px 0 50px;
  }

  .itineraire h2,
  .etapes h2 {
    font-size: 2.25rem;
    color: #199595;
  }


  .itineraire .container {
    display: flex;
    margin: 40px auto;
  }

  .map {
    border: #542D25 solid 2px;
  }

  .itineraire ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
  }

  .itineraire a {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1px 5px;
  }


  /* ----------- SECTION ETAPES ---------------- */

  section.etapes {
    background-color: #FEFCF8;
  }

  .etapes h2 {
    padding: 60px 0 40px;
  }

  .etapes h3 {
    text-transform: none;
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 20px;
  }

  .etapes article {
    padding: 35px 0;
  }

  .etape p {
    margin-top: 0;
    text-align: justify;
  }

  .etape {
    display: flex;
    align-items: flex-start;
  }

  .etape img,
  .etape h3 {
    display: inline-block;
  }


  .etape img.jour {
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }

  .etape .photo {
    border: #542D25 solid 2px;
    margin: 0 10px;
    max-width: 220px;
    margin-left: auto;
    margin-top: auto;

  }


  .etape .details {
    display: flex;
    flex-direction: column;

    p{
      margin: 0 10px;
    }
  }



  .etape ul {
    padding: 0;
  }


  /* ================================================================
                          PAGE SEJOUR YUCATAN
  ================================================================= */

  .bleu {
    color: #199595;
  }

  /* ------------ RESUME ------------- */


  .description .yucatan li::before {
    content: '• ';
    color: #199595;
  }


  .yucatan .info-duree {
    border-right: #199595 solid 1px;
    border-left: #199595 1px solid;
  }

  /* ------------ ITINERAIRE ------------- */

  .yucatan ul a:hover,
  .yucatan ul a:focus {
    background-color: #199595;
    color: #fff;
  }


  /* ================================================================
                        PAGE SEJOUR CAMINANDO
  ================================================================= */

  .vert,
  .itineraire .vert,
  .etapes .vert {
    color: #139429;
  }


  /* ------------ RESUME ------------- */


  .description .caminando li::before {
    content: '• ';
    color: #139429;
  }

  .caminando .info-duree {
    border-right: #139429 solid 1px;
    border-left: #139429 1px solid;
  }

  /* ------------ ITINERAIRE ------------- */

  .caminando ul a:hover,
  .caminando ul a:focus {
    background-color: #139429;
    color: #fff;
  }

  /* ------------ ETAPES ------------- */

  #j3 ul {
    margin: 0 0 0 10px;
  }


  /* ================================================================
                          PAGE SEJOUR VOLCANS
  ================================================================= */

  .orange,
  .itineraire .orange,
  .etapes .orange {
    color: #FF4100;
  }


  /* ------------ RESUME ------------- */


  .description .volcans li::before {
    content: '• ';
    color: #FF4100;
  }

  .volcans .info-duree {
    border-right: #FF4100 solid 1px;
    border-left: #FF4100 1px solid;
  }

  /* ------------ ITINERAIRE ------------- */

  .volcans ul a:hover,
  .volcans ul a:focus {
    background-color: #FF4100;
    color: #fff;
  }


}