// Layout 

$max-width: 1200px;
$bp-medium: 768px;
$bp-large : 992px;
$bp-extra-large : 1100px;


// Typos

$title-font  : 'Raleway',   sans-serif;
$default-font: 'Open Sans', sans-serif;



// Colors

$green     : #4A8B2C;
$dark-green: #002C00;
$brown     : #66381B;
$beige     : #F7EEEA;
$dark-beige: #E0D4CC;
